.popup__close {
  margin: 0 0 8px 0;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  background-image: url(../../../images/Close-Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: end;
}

.popup__close:hover {
  cursor: pointer;
}

@media (max-width: 550px) {
  .popup__close {
    margin: 0 0 16px 0;
    width: 20px;
    height: 20px;
  }
}
